/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

body {
  background: rgb(40, 40, 40);
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
.card{
    width: 25%;
    position: relative;
    top: 150px;
    left: 36%;
    background-color: rgb(69, 67, 67);
    color: white;
    text-align: center;
}

.links{
    display: flex;
}

/* All users */
.all-users {
  display: flex;
  margin-bottom: 1rem;
}

.single-user {
  background: rgb(0, 140, 255);
  color: white;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 10px;
  margin-right: 0.5rem;
  position: relative;
}

/* User Card */
.user-card {
  color: white;
  border-bottom: 1px solid rgb(100, 100, 100);
}

.user-card .text-content {
  width: 200px;
}

.user-card .name {
  font-weight: 700;
}

.user-card .text,
.user-card .date {
  font-size: 14px;
  color: rgb(180, 180, 180);
}

.user-online {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgb(0, 219, 0);
}

/* Chat Box */
.chat-box {
  height: 70vh;
  width: 100%;
  background: rgb(25, 25, 25);
  border-radius: 10px;
}

.messages-box {
  height: 80vh;
  background-color: #212323;
  border-radius: 10px;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Chat Header */
.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  padding: 0.75rem;
  color: white;
  border-radius: 10px;
  background: rgb(30, 30, 30);
}

/* Messages */
.messages {
  height: 62vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 2rem;
  padding-top: 10px;
}
.main-container{
  height: 80vh;
}

.message {
  display: flex;
  flex-direction: column;
  color: white;
  width: 300px;
  background: #282828;
  padding: 0.75rem;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}

.self {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.75rem;
  border-radius: 5px;
  width: 300px;
  background: #00bd9b;
  position: relative;
  left: 39vw;
  margin-bottom: 5px;
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}


.message-footer {
  font-size: 12px;
  font-weight: 300;
}

/* Chat Input  */
.chat-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-left: 48px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}
.send-btn {
  border: none;
  background: rgb(0, 140, 255);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* Notification */
.notifications {
  position: relative;
}

.notifications-icon {
  color: white;
  cursor: pointer;
  position: relative;
  margin-right: 1rem;
}

.notifications-box {
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;
  position: absolute;
  top: 2rem;
  right: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: #181d31;
  color: white;
  z-index: 5;
  margin-top: 10px;
  min-height: 10vh; /* Minimum height */
  max-height: 40vh; /* Maximum height */
}

.notifications-box.has-content {
  min-height: 40vh;
}


.notifications-header {
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.notifications-box h3 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.mark-as-read {
  cursor: pointer;
  font-weight: 700;
  opacity: 0.8;
}

.notification {
  font-size: 14px;
  margin: 1rem 0;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgb(207, 207, 207);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.notification.not-read {
  background: #263159;
}

.notification-time {
  margin-top: 0.2rem;
  font-size: 12px;
  color: #e0e0e0;
}

.notification-count {
  display: flex;
  background: #00bd9b;
  height: 25px;
  width: 25px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
}

.this-user-notifications {
  display: flex;
  background: #00bd9b;
  height: 20px;
  width: 20px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.users-container{
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  position: relative;
  left: 110px;
  top: 20px;
}

.input{
  width:93%;
  height: inherit;
  background-color: transparent;
  border: none;
  background: rgb(30, 30, 30);
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.nl{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .onmsg{
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
} */