<nav class="navbar bg-dark">
  <div style="color: white" class="container-fluid">
    <a
      class="navbar-brand"
      routerLinkActive="active"
      routerLink="/homepage"
      style="color: rgb(255, 255, 255); cursor: pointer"
      >ChatApp</a
    >
    <span style="color: rgb(217, 193, 34)">Logged in as {{ user }}</span>
    <div class="nl">
      <div class="notifications">
        <div class="notifications-icon pe-5" (click)="toggleNotificationBox()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="bi bi-chat-left-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
            />
          </svg>
          <span
            class="notification-count ms-4"
            *ngIf="chatappservice.noti.length > 0"
          >
            <span>{{ chatappservice.noti.length }}</span>
          </span>
        </div>
        <div
          class="notifications-box"
          *ngIf="showNotificationBox"
          [class.has-content]="chatappservice.unNoti.length > 0"
        >
          <ng-container
            *ngIf="chatappservice.noti.length > 0; else noNotifications"
          >
            <div class="notifications-header">
              <h3>Notifications</h3>
            </div>
            <div
              class="notification"
              *ngFor="let notification of chatappservice.noti"
              [ngClass]="{ 'not-read': !notification.isRead }"
              (click)="markNotificationAsRead(notification)"
            >
              <span
                >{{ notification.senderName }} sent you a message</span
              >
              <span class="notification-time">{{
                formatMessageDate(notification.date)
              }}</span>
            </div>
          </ng-container>
          <ng-template #noNotifications>
            <h3 class="mt-4">No notifications yet</h3>
          </ng-template>
        </div>
      </div>
      <a
        style="color: white; cursor: pointer"
        class="navbar-brand"
        (click)="logout()"
        >Logout</a
      >
    </div>
  </div>
</nav>

<div class="users-container">
  <div class="all-users" *ngFor="let chat of pChats" (click)="newchat(chat)">
    <div class="single-user mx-2">
      {{ chat.username }}
      <span class="user-online" *ngIf="isUserOnline(chat._id)"></span>
    </div>
  </div>
</div>

<div class="container d-block mt-4 main-container">
  <div class="row">
    <div class="col-lg-3">
      <div class="messages-box p-3" *ngIf="userChats && userChats.length > 0">
        <div>
          <div
            class="chat-div"
            *ngFor="let user of recipientUser"
            (click)="updateChat(user)"
          >
            <div
              class="user-card p-2 align-items-center justify-content-between"
            >
              <div class="d-flex">
                <div class="d-flex align-items-center me-3">
                  <img
                    src="assets/undraw_pic_profile_re_7g2h.svg"
                    alt="profile pic"
                    height="35px"
                  />
                </div>
                <div class="text-content">
                  <div class="name">{{ user.username }}</div>
                  <div class="text">
                    {{ user.latestmsg && user.latestmsg.length > 25 ? user.latestmsg.slice(0, 25) + ' . . . . ' : user.latestmsg }}
                  </div>                                  
                  <div class="date">
                    {{user.latestmsgtime}}
                  </div>
                </div>
                <span
                  class="user-online mt-1 mb-4"
                  *ngIf="isUserOnline(user._id)"
                ></span>
                <!-- <div class="this-user-notifications" *ngIf="userNewmsg.length > 0">{{userNewmsg.length}}</div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="chat-box ms-5" *ngIf="upChat">
        <div class="chat-header">
          <strong>{{ chatusername }}</strong>
        </div>
        <div
          class="messages"
          *ngIf="msgs.length === 0"
          style="display: flex; width: 100%; justify-content: center"
        >
          <p><strong>No Messages yet</strong></p>
        </div>
        <div class="messages" *ngIf="msgs.length > 0">
          <span
            *ngFor="let msg of msgs"
            [ngClass]="msg.senderId === userId ? 'self' : 'message'"
          >
            {{ msg.text }}
            <span class="message-footer">{{
              formatMessageDate(msg.createdAt)
            }}</span>
          </span>
        </div>
      </div>
      <div class="chat-input" *ngIf="upChat">
        <input
          type="text"
          class="input"
          placeholder="type a message"
          [(ngModel)]="text"
          (keyup.enter)="sendmsg()"
        />
        <button class="send-btn" (click)="sendmsg()" [disabled]="!text">
          <img src="assets/send-fill.svg" alt="send" />
        </button>
      </div>
      <p
        *ngIf="!upChat"
        style="display: flex; width: 100%; justify-content: center"
      >
        <strong>No Conversation selected yet</strong>
      </p>
    </div>
  </div>
</div>
